@model IEnumerable<Event>

@{
    ViewData["Title"] = "Event Log";
}

<br/>
<div class="text-center">
    <h1 class="display-4">The Story So Far...</h1>
</div>
<br/>
<a asp-action="Add" asp-controller="Home" class="btn btn-secondary">Add Event</a>
<br/>
<table class="table mt-2">
    <thead>
        <tr>
            <th>Notes on the situation</th>
            <th>Your action</th>
            <th>Did it work?</th>
            <th>Result of action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Event evt in Model)//"event" is a reserved word
        {
        <tr>
            <td>@evt.Situation</td>
            <td>@evt.Effort</td>
            <td>@if (evt.Success)
            {
                @Html.Encode("Yes")
            }
            @if (evt.Success == false)
            {
                @Html.Encode("No")
            }</td>
            <td>@evt.Result</td>
        </tr>
        }
    </tbody>
</table>


